
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html, body {
  overflow-x: hidden;
   width: 100%;
  height: 100%;
  
}




* {
    margin: 0;
    padding: 0;
    
}
.intro {
    position: fixed;
    height: 100dvh;
   width: 100%;
   overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: maroon;
    font-family: "Dancing Script", cursive;
    
}

.intro h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.9rem;
    margin-bottom: 30px;
}

.arrow {
    font-size: 4rem;
    cursor: pointer;
    animation: bounce 1.2s infinite;
}

@keyframes bounce {
    0% { transform: translateX(0); }
    50% { transform: translateX(12px); }
    100% { transform: translateX(0); }
}





.love {

    position: fixed;
    top: 0;
    left: 0;

   width: 100%;
    height: 100dvh;
    overflow: hidden;

    object-fit: cover;
    z-index: -1;
}

.envelope {
   width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}
.heart {
    
    
    cursor: pointer;
}

.heart img {
    position: absolute;
    width: 200px;      
    height: auto;
    display: block;
    animation: beat 1s infinite;
}






@keyframes beat {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.2); }
    100% { transform: translate(-50%, -50%) scale(1); }
}
.pics{
     position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    object-fit: cover;
    z-index: -1;
}
.slideshow {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  animation: slideshow 8s infinite;
   
}
.boxx{
    
    position: fixed;          
    top: 0;
    left: 0;

  width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;             

}
.letter-box {
    width: 50%;
    max-width: 600px;

    padding: 30px;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.063);
    backdrop-filter: blur(6px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: large;
}

.letter-box h1 {
    color: #ff4d6d;
    text-align: center;
}


@keyframes slideshow {
  0% {
    background-image: url("pic/_\ \(11\).jpeg");}
  25% {
    background-image: url("pic/_\ \(12\).jpeg");
  }
  50% {
    background-image: url("pic/_\ \(13\).jpeg");
  }
  75% {
    background-image: url("pic/_\ \(14\).jpeg");
  }
  100% {
    background-image: url("pic/_\ \(15\).jpeg");
  }
  

 
}



.letter-box {
    background: rgba(255, 255, 255, 0.106);
    backdrop-filter: blur(5px);
 
    
  

}




